<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550515467680-mq1j2i4sost7s7trhp4mpr6k289fj3vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550515467680-mq1j2i4sost7s7trhp4mpr6k289fj3vf</string>
	<key>API_KEY</key>
	<string>AIzaSyBZc_wWa1_zlhPiAerZj3nsMHnt4VMFOLs</string>
	<key>GCM_SENDER_ID</key>
	<string>550515467680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kantachat.AR-Translator-project</string>
	<key>PROJECT_ID</key>
	<string>ar-translator-live</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-translator-live.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:550515467680:ios:2eade192046b8f69f670c5</string>
	<key>DATABASE_URL</key>
	<string>https://ar-translator-live.firebaseio.com</string>
</dict>
</plist>
